<div class="note-creator shadow-2" [ngStyle]="{'background-color': newNote.color}">
	
	<form class="row" (submit)="onMakeNote()">
		<input
			type="text"
			[(ngModel)]="newNote.title"
			name="newNoteTitle"
			placeholder="Title"
			class="col-xs-10 title"
			*ngIf="fullForm"
		>
		<input
			type="text"
			(focus)="toggle(true)"
			[(ngModel)]="newNote.value"
			name="newNoteValue"
			placeholder="Take a note..."
			class="col-xs-10"
		>
		<div class="actions col-xs-12 row between-xs" *ngIf="fullForm">
			<div class="col-xs-3">
				<color-picker [colors]="colors" (selected)="onColorSelect($event)"></color-picker>
			</div>
			<button type="submit" class="btn-light">
				Done
			</button>
		</div>
	</form>
</div>